# Laravel Backend
/backend/vendor
/backend/node_modules
/backend/.env
/backend/public/storage
/backend/storage/*.key
/backend/bootstrap/cache/*.php

# React Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env*
/frontend/coverage

# OS files
.DS_Store
Thumbs.db